In [1]:
import numpy as np
import pandas as pd

In [2]:
gms=pd.read_csv("C:\\Users\\HP\\Desktop\\all old data set\\gemstone.csv")
gms.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [3]:
gms.shape

(193573, 11)

In [5]:
gms['cut'].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [6]:
gms.color.value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [8]:
gms.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
36147,36147,0.51,Ideal,F,VS2,60.3,57.0,5.19,5.23,3.14,1574
126548,126548,0.58,Premium,G,SI1,62.0,57.6,5.36,5.38,3.32,1690
183229,183229,1.70,Premium,I,SI1,58.7,58.0,7.85,7.80,4.57,8060
25100,25100,1.01,Good,E,SI2,61.9,61.0,6.39,6.43,3.96,4509
48110,48110,1.01,Good,H,SI1,63.7,59.0,6.33,6.38,4.04,4709
99976,99976,0.30,Premium,G,VVS2,59.9,58.0,4.36,4.33,2.60,878
123298,123298,1.03,Ideal,F,SI1,61.8,56.0,6.49,6.54,4.02,5712
3810,3810,1.01,Ideal,I,SI2,59.8,59.0,6.57,6.54,3.92,4336
85868,85868,0.50,Ideal,G,VVS1,60.9,58.0,5.10,5.15,3.12,1980
185223,185223,0.76,Premium,F,VS1,60.2,59.0,5.95,5.88,3.57,2737

In [9]:
gms.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [10]:
gms.size

2129303

In [11]:
gms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [12]:
gms.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [15]:
gms.drop('id',axis=1,inplace=True)

In [17]:
gms

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [20]:
gms.duplicated().sum()

0

In [22]:
gms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [29]:
cat_col=gms.columns[gms.dtypes=='object']

In [31]:
num_col=gms.columns[gms.dtypes!='object']

In [32]:
num_col

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [34]:
gms[num_col].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB

In [35]:
gms[cat_col].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB